
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
}

@layer utilities {
  .premium-button {
    @apply bg-gradient-to-r from-purple-500 to-indigo-600 text-white hover:brightness-110;
  }

  .btn-3d {
    @apply transition-all ease-in-out shadow-md hover:-translate-y-0.5 hover:shadow-lg;
  }

  .letter-spacing-tight {
    letter-spacing: -0.02em;
  }
}
